

#wrapper
{
	width: 950px;
	margin: 0 auto;
	header
	{
		min-height: 210px;
		position: relative;
		img
		{
			float: right;
			margin: 5px;
		}
		nav
		{
			width: 100%;
			position: absolute;
			bottom: 0px;

			a
			{
				padding-left: 5px;
			}
		}
	}
}

